<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div *ngIf="!authService.userData as user">
    <a routerLink="/">Reel Tracker</a>
  </div>
  <div *ngIf="authService.userData as user">
    <a routerLink="/home">Reel Tracker</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxFlex fxLayoutAlign="end" fxLayoutGap="10px" class="navigation-items" style="margin-right: 3%">
      <li *ngIf="!authService.userData && !authService.socialUserData">
        <a routerLink="/signup">Sign Up</a>
      </li>
      <li *ngIf="!authService.userData && !authService.socialUserData">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="authService.userData || authService.socialUserData" class="mr-5">
        <a routerLink="/home" style="margin-right: 5%">Map</a>
        <a routerLink="/data-list" style="margin-right: 5%">Data List</a>
        <a routerLink="/statistics" style="margin-right: 5%">Statistics</a>
        <a routerLink="/profile" style="margin-right: 5%">Profile</a>
        <a (click)="logout()" routerLink="/">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
