<div fxLayout fxLayoutAlign="center center" style="margin-bottom: 10px;margin-top:10px">
  <input
    style="width: 400px"
    placeholder="Search for location"
    autocapitalize="off"
    type="text"
    class="form-control"
    #search
  />
</div>

<div fxLayout="column">
<google-map id="map"
            fxLayout
            fxFlex
            fxLayoutAlign="center center"
            height="600px"
            width="90%"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="dialogOpen($event)"
            (mapRightclick)="removeMarker()"
            (mapMousemove)="onMove($event)">
  <map-marker #marker="mapMarker" *ngFor="let markerPos of markerPositions | async; let i = index" (mapClick)="openInfoWindow(marker, infoWindow)" [position]="markerPos" [id]="this.markerId">
    <map-info-window #infoWindow="mapInfoWindow">asdasdsdasdas</map-info-window>
  </map-marker>

</google-map>
</div>


